body
{
	background-color : lightblue;
}
div {
	background-color : #DDFFFF;
	border-left: 6px solid red;
	border-radius: 12px;
}

.photomoi{
	float:right;
}

h1
	{
  border-left: 6px solid red;
  background-color: lightgrey;
}
.centre
{
	text-align:center;
	}
.gauche
{
	text-align: left;
}

.one {
	color: blue;
	background-color:#4E8BDA;
}
.two {
	color:green;
	background-color:#6BE724 ;
}
button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #f44336;
}
.button2 {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width:300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}
.button3 {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width:300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button3:hover span {
  padding-right: 25px;
}

.button3:hover span:after {
  opacity: 1;
  right: 0;
}
.div2 {
	border-left: 6px solid red;
	background-color: #22AA26;
	border-radius: 12px;
}
	
